<div class="px-0 mx-0 container-fluid">
  <app-auth-navbar></app-auth-navbar>
  <div class="row min-vh-100">
    <div class="col-lg-6 bg-color1 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="mx-auto text-center row">
          <h1 class="mb-4 text-center heading-1 col-12">
            RESET PASSWORD
          </h1>
          <form autocomplete="off" [formGroup]="form" class="mx-auto row example-form col-md-8">
            <!-- <input formControlName="password" matInput [type]="hide ? 'password' : 'text'"> -->
            <mat-form-field class="col-12" appearance="outline">
              <mat-label>New password</mat-label>
              <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
              <mat-error *ngIf="password.hasError('required')">
                Password is a required field
              </mat-error>
              <mat-error *ngIf="password.hasError('pattern')">
                Password must be minimum 8 characters and alphanumeric
              </mat-error>
            </mat-error>

            <mat-form-field class="col-12" appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input formControlName="confirm_password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-error
              *ngIf="form.hasError('passwordMatch') && form.get('password').touched && form.get('confirm_password').touched">
              Passwords Don't Match
            </mat-error>
          </form>
          <p class="mt-5 text-gray col-12">
            Password must be alphanumeric and 8 digits long.
          </p>
          <p class="mt-5 text-gray col-12">
            We’ll send a password reset link to your email.
          </p>


          <div class="mx-auto col-md-8">
            <button (click)="onReset()" class="btn btn-block btn-primary">
              <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i>
              SEND
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="px-5 col-6 bg-primary d-none d-lg-flex justify-content-center align-items-center">
      <img class="img-fluid" src="../../../../assets/svg/authentication.svg" alt="">
      <!-- <div class="text-center">
      </div> -->
    </div>
  </div>
</div>
