<div class="container-fluid">
  <mat-toolbar class="d-flex justify-content-between">
    <div>
      <h2>{{title | titlecase}}</h2>
    </div>
    <div>
      <mat-icon mat-button mat-dialog-close>
        close
      </mat-icon>
    </div>
  </mat-toolbar>
  <div class="mt-2">

    <div class="card-body">
      <form [formGroup]="form" class="row theme-form mega-form">
        <!-- Name -->
        <mat-form-field>
          <mat-label>Meal Type</mat-label>
          <input matInput formControlName="name" type="text">
        </mat-form-field>
        <div class="mx-auto col-8">
          <button [disabled]="isLoading" class="btn btn-primary btn-block" (click)="onSave()" mat-button>
            <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i>
            Save
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
