<app-auth-navbar></app-auth-navbar>

<h1 class="text-center display-1 extra-padding bg-color1">Consent Agreement</h1>
<div class="container-fluid">

  <!-- Navbar -->
  <!-- <app-auth-navbar [showNav]=true></app-auth-navbar> -->
  <p class="mt-3">
    The Controller is the company, Secure ID Limited, with its principal place of business situate at Plot K9, Apapa-
    Oshodi Expressway, Iyana-Isolo, Lagos, (the
    <strong>
      “Data Controller“
    </strong>
    ). This is being done in fulfilment of the Company’s obligations under the Nigeria Data Protection Regulation
    (NDPR) 2019.
  </p>

  <p>
    The Company intends to collect biometric information (Personal Data) about you as part of an automated (i.e.
    electronically-operated) recognition system. This is for the smooth operation of our cashless cafeteria which the
    Company provides to its employees. The information will be used as part of an automated biometric recognition
    system.
    This system will take measurements of your fingerprint and convert these measurements into a template to be stored
    on
    the system,
    <strong>
      we will not store any image of your fingerprint.
    </strong>
    The template (i.e. measurements taken from your
    fingerprint) is what will be used to grant you access to cafeteria services.
  </p>

  <p>
    If you object to this, the Company will not collect your biometric information for inclusion on the automated
    recognition system. You can also object to the proposed processing of your biometric information at a later stage or
    withdraw any consent you have previously given. This means that, if you give consent but later change your mind, you
    can withdraw this consent. However, please note that such withdrawal will render us unable to provide these services
    to you. If you do not wish for your biometric information to be processed by the Company, we will provide reasonable
    alternative arrangements.
  </p>

  <p>
    By ticking this box, you, Employee, hereby consent to the processing of my biometric data which personal data you
    hereby voluntarily provide to the Company by the method specified below in this consent.
  </p>

  <p>
    You acknowledge that the Biometric Data which relate to your person is as defined within the Nigeria Data Protection
    Regulation (NDPR) 2019 and any amendments thereto or any other applicable laws in force in the Federal Republic of
    Nigeria.
  </p>


  <p>
    You hereby acknowledge that:
  </p>

  <ol>
    <li>
      You understand why your consent is required.
    </li>
    <li>
      You understand the conditions under which the Company may use your biometric information.
    </li>
    <li>
      You will be required to re-provide consent where any circumstances changes.
    </li>
    <li>
      You acknowledge that you have the right to demand from the Company, the access to or deletion of your biometric
      data.
    </li>
    <li>
      You acknowledge that you understand that you can revoke this consent at any time in writing to the Company through
      its Data Protection Officer at dpo@secureidltd.com
    </li>
    <li>
      You have the right to the portability of your biometric data which you have provided to the Company.
    </li>
    <li>
      You can contact the Company in relation to the processing of your data at the email address: dpo@secureidltd.com.
    </li>
    <li>
      If you are of the opinion that your biometric data is being processed in contradiction with legal regulations, you
      have the right to request remedial action from the Company within a reasonable amount of time. If your request is
      found reasonable, the Company shall immediately remedy the defective status.
    </li>
  </ol>

  <p>
    Upon cessation of your employment with the Company, your biometric data will be securely deleted.
  </p>

  <p>
    You hereby give your consent to the processing of your biometric data by the Company for the purposes above. You
    acknowledge that the Company shall archive this consent for the purpose of fulfilling the its statutory obligation
    to
    be able to demonstrate that your consent to the processing has been given.
  </p>

</div>
