<div class="container-fluid bg-color1">

  <!-- Navbar -->
  <app-auth-navbar [showNav]=true></app-auth-navbar>

  <div class="row justify-content-center align-items-center hero-section container-fluid px-5">
    <div class="my-auto col-md-6">
      <p class="hero-text-main">
        Digital <span class="text-primary">Solution</span> For <span class="text-primary">Food</span> & <span
          class="text-secondary-2">Delivery</span>.
      </p>
      <p class="hero-description">
        Lorem ipsum dolor sit amet consectetur. Elit risus quam malesuada eget cras integer maecenas.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center gx-4">
      <img class="img-fluid" src="assets/images/hero-image.png" alt="">
    </div>
  </div>

  <section class="special-offers">
    <div class="mx-auto col-8">
      <p class="section-header text-center">
        Today <span class="text-primary">Special</span> Offers
      </p>
      <p class="section-description text-center my-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s
      </p>

      <div class="d-flex align-items-center justify-content-center px-4">
        <img class="img-fluid px-4" src="assets/images/special-offer-1.png" alt="">
        <img class="img-fluid px-4" src="assets/images/special-offer-2.png" alt="">
        <img class="img-fluid px-4" src="assets/images/special-offer-3.png" alt="">
        <img class="img-fluid px-4" src="assets/images/special-offer-4.png" alt="">
      </div>
    </div>
  </section>

  <section class="digitization">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 d-flex justify-content-center">
        <img class="img-fluid" src="assets/images/digitizing-image.png" alt="">
      </div>
      <div class="my-auto col-md-7">
        <p class="section-header col-md-10">
          Digitizing all <span class="text-primary">your </span> <span class="text-secondary-2">catering</span> needs.
        </p>
        <p class="section-description my-5">
          Lorem ipsum dolor sit amet consectetur. Elit risus quam malesuada eget cras integer maecenas.
        </p>

        <div class="d-flex">
          <div class="mr-4">
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-1.png" alt="">
              <span> Online Order </span>
            </p>
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-2.png" alt="">
              <span> Pre-Reservation </span>
            </p>
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-3.png" alt="">
              <span> Special Offer </span>
            </p>
          </div>
          <div>
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-4.png" alt="">
              <span> 24/7 Service </span>
            </p>
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-5.png" alt="">
              <span> Organized Foodhut Places </span>
            </p>
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-6.png" alt="">
              <span> Clean Kitchen </span>
            </p>
          </div>
        </div>

        <button class="btn btn-primary">
          About us
        </button>
      </div>
    </div>
  </section>

  <section class="all-ages">
    <div class="mx-auto col-4">
      <p class="section-header text-center">
        <span class="text-primary">Menu</span> suited for
        all <span class="text-secondary-2">ages</span>
      </p>
    </div>
    <div class="d-flex align-items-center justify-content-center my-5">
      <img class="img-fluid px-4" src="assets/images/special-offer-1.png" alt="">
      <img class="img-fluid px-4" src="assets/images/special-offer-2.png" alt="">
      <img class="img-fluid px-4" src="assets/images/special-offer-3.png" alt="">
      <img class="img-fluid px-4" src="assets/images/special-offer-4.png" alt="">
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <img class="img-fluid px-4" src="assets/images/special-offer-1.png" alt="">
      <img class="img-fluid px-4" src="assets/images/special-offer-2.png" alt="">
      <img class="img-fluid px-4" src="assets/images/special-offer-3.png" alt="">
      <img class="img-fluid px-4" src="assets/images/special-offer-4.png" alt="">
    </div>
  </section>

  <section class="download-section">
    <div class="row justify-content-center align-items-center">

      <div class="my-auto col-md-7">
        <p class="section-header col-md-10">
          It’s Now <span class="text-primary">More Easy</span> to <span class="text-secondary-2">Order</span> by Our
          Mobile <span class="text-primary">App</span>
        </p>
        <p class="section-description col-md-8 my-5">
          Lorem ipsum dolor sit amet consectetur. Elit risus quam malesuada eget cras integer maecenas.
        </p>

        <div class="d-flex">
        <img class="img-fluid mr-2" src="assets/images/mobile-playstore-badge.png" alt="">
        <img class="img-fluid" src="assets/images/mobile-appstore-badge.png" alt="">

        </div>
      </div>

      <div class="col-md-5 d-flex justify-content-center">
        <img class="img-fluid" src="assets/images/download-section.png" alt="">
      </div>
    </div>
  </section>

  <section class="footer">
    <p class="text-center">
      Copyright &copy; 2024 For NHGSFP
    </p>
  </section>

</div>
