<div class="container-fluid bg-color1">

  <!-- Navbar -->
  <app-auth-navbar [showNav]=true></app-auth-navbar>

  <div class="row justify-content-center align-items-center hero-section container-fluid">
    <img class="coat img-fluid" src="assets/coat-of-arms-of-nigeria-logo.png" alt="">
  </div>

  <!-- <section class="special-offers">
    <div class="mx-auto col-md-8">
      <p class="section-header text-center">
        <span class="text-primary">Detailed Analysis</span> & <span class="text-secondary-2">Dashboard</span>
      </p>
      <p class="text-justify section-description text-center text- my-5">
        Unlock insights with our comprehensive analysis and dynamic dashboard. Visualize your data with interactive
        charts, monitor key metrics in real-time, and make informed decisions effortlessly. Elevate your strategy with
        our user-friendly tools designed for precision and clarity. Explore your data like never before!
      </p>

      <div class="d-flex align-items-center justify-content-center px-4">
        <img class="img-fluid px-4" src="assets/images/undraw_data_trends_re_2cdy.svg" alt="">
      </div>
    </div>
  </section> -->

  <section class="digitization">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 d-none d-md-flex justify-content-center">
        <img class="img-fluid" src="assets/images/digitizing-image.png" alt="">
      </div>
      <div class="col-md-8">
        <p class="section-header col-md-10">
          Digitizing all <span class="text-primary">Functions </span> <span class="text-secondary-2">Of The
            School</span> Feeding Programme.
        </p>

        <div class="row">
          <div class="col-md">
            <p class="section-description">
              <img class="coat-dig img-fluid mr-2" src="assets/coat-of-arms-of-nigeria-logo.png" alt="">
              <span> Ministry of Education </span>
            </p>
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-3.png" alt="">
              <span> Manage Schools </span>
            </p>
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-4.png" alt="">
              <span> Manage Students </span>
            </p>
          </div>

          <div class="col-md">
            <p class="section-description">
              <img class="coat-dig img-fluid mr-2" src="assets/coat-of-arms-of-nigeria-logo.png" alt="">
              <span> Ministry of Health </span>
            </p>
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-2.png" alt="">
              <span> Manage Caterers </span>
            </p>
          </div>

          <div class="col-md">
            <p class="section-description">
              <img class="coat-dig img-fluid mr-2" src="assets/coat-of-arms-of-nigeria-logo.png" alt="">
              <span> Ministry of Agric. </span>
            </p>
            <p class="section-description">
              <img class="img-fluid mr-2" src="assets/images/digitizing-1.png" alt="">
              <span> Manage Farmers </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer">
    <p class="text-center">
      Copyright &copy; 2024 For NHGSFP
    </p>
  </section>

</div>
