<app-auth-navbar></app-auth-navbar>

<h1 class="text-center display-1 extra-padding bg-color1">FAQ</h1>
<div class="container-fluid pb-5">

  <!-- How does bucca work -->
  <section>
    <h3>
      How Does Bucca Work?
    </h3>
    <ul>
      <li>Sign in</li>

      <li>Place orders for active days</li>

      <li>Print tickets on the self-service device</li>

      <li>Validate ticket from vendor</li>

      <li>Enjoy your meal</li>
    </ul>
  </section>

  <!-- How Do I Order My Food? -->
  <section class="mt-3">
    <h3>
      How Do I Order My Food?
    </h3>
    <ul>
      <li>After successfully logging in on the various platforms provided (Web, android or iOS app)</li>

      <li>Navigate to the food module on the app</li>

      <li>Proceed to Select Vendor and meal menu</li>

      <li>Select meal type (Lunch, Dinner)</li>

      <li>Select specific meal</li>

      <li>Add to cart</li>

      <li>Then confirm order</li>

      <li>Repeat this process for various days of the week and then checkout</li>
    </ul>
  </section>

  <!-- Do I have to Place an Order in Advance? -->
  <section class="mt-3">
    <h3>
      Do I have to Place an Order in Advance?
    </h3>
    <p>
      Yes, orders should be placed in advance!
    </p>
    <ul>
      <li>Rules for ordering: The order portal is opened from 12am-6pm everyday (Monday - Saturday 12am - 6pm).</li>

      <li>Orders should be placed at least one (1) day before delivery, Orders can be made daily for one week.
        Similarly,
        orders can be canceled if you intend not to eat, rule no1 also applies to cancelling.</li>

      <li>You are allowed to add multiple meals to your order by topping up your wallet.</li>

      <li>Repeat process for various days of the week and then checkout</li>
    </ul>
  </section>

  <!-- What Cards are accepted if I Want to Top Up My Wallet -->
  <section class="mt-3">
    <h3>
      What Cards are accepted if I Want to Top Up My Wallet ?
    </h3>
    <p>
      All major debit cards including Verve, Visa and MasterCard are accepted.
    </p>
  </section>

  <!-- Will I Get a Payment Receipt? -->
  <section class="mt-3">
    <h3>
      Will I Get a Payment Receipt?
    </h3>
    <p>
      Yes, when you top up your wallets, receipts will be emailed to you by the payment gateway.
    </p>
  </section>

  <!-- What Do I Do if I Have a Charge I Do Not Recognize? -->
  <section class="mt-3">
    <h3>
      What Do I Do if I Have a Charge I Do Not Recognize?
    </h3>
    <p>
      If this happens, please contact us on O9088328936 or use the Live Chat (fresh desk)
    </p>
  </section>

  <!-- What if I am Having Trouble Thumb Printing? -->
  <section class="mt-3">
    <h3>
      What if I am Having Trouble Thumb Printing?
    </h3>

    <ul>
      <li>Clean the surface of your thumb/ fingers</li>

      <li>Clean the surface of the fingerprint scanner</li>

      <li>Make sure you are using the correct finger used during registration.</li>
    </ul>
  </section>

  <!-- Forgot Password? -->
  <section class="mt-3">
    <h3>
      Forgot Password?
    </h3>

    <p>
      Click on the forgot password icon then, then an OTP is sent to your email where you are required to set a new password and you are back on track!
    </p>
  </section>

  <!-- Is There a Bucca App? -->
  <section class="mt-3">
    <h3>
      Is There a Bucca App?
    </h3>

    <p>
      There Is! It’s available free on google play Store.
    </p>
  </section>

</div>
