<div class="container-fluid">
  <!-- <div class="row">
    <div class="mx-auto col-12"> -->
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h5>{{title | titlecase}}</h5>

      </div>
    </div>
    <div class="card-body">

      <app-table-functions [showSearch]="true" (search)="onSearch($event)" [searchPlaceHolder]="searchPlaceHolder"
        (exportExcel)="onExportExcel()" [downloading]="downloading" [companyArray]="companyArray"
        (companyChange)="companyChange($event)" (setEndDate)="setEndDate($event)" (setStartDate)="setStartDate($event)"
        [rangePicker]="true">
      </app-table-functions>
      <div class="mat-elevation-z8">

        <div class="example-loading-shade" *ngIf="tableLoading">
          <div class="loader-box">
            <div class="loader">
              <div class="line bg-primary"></div>
              <div class="line bg-primary"></div>
              <div class="line bg-primary"></div>
              <div class="line bg-primary"></div>
            </div>
          </div>
          <!-- <mat-spinner *ngIf="tableLoading"></mat-spinner> -->
        </div>

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

          <!-- Contact Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.first_name || 'N/A'}} {{element.last_name}}</td>
          </ng-container>

          <!-- Contact Email Column -->
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let element"> {{element.department || 'N/A'}} </td>
          </ng-container>

          <!-- Contact phone_number Column -->
          <ng-container matColumnDef="staff_level">
            <th mat-header-cell *matHeaderCellDef> Staff level </th>
            <td mat-cell *matCellDef="let element"> {{element.staff_level || 'N/A'}} </td>
          </ng-container>

          <!-- Company Name Column -->
          <ng-container matColumnDef="total_sum">
            <th mat-header-cell *matHeaderCellDef> Total sum </th>
            <td mat-cell *matCellDef="let element"> {{element.total_sum | currency:"NGN" : "₦" : '1.0-0'}} </td>
          </ng-container>

          <!-- Balance Column -->
          <ng-container matColumnDef="company_share">
            <th mat-header-cell *matHeaderCellDef>Ccompany share </th>
            <td mat-cell *matCellDef="let element"> {{element.company_share | currency:"NGN" : "₦" : '1.0-0'}} </td>
          </ng-container>

          <!-- Staff level Column -->
          <ng-container matColumnDef="staff_share">
            <th mat-header-cell *matHeaderCellDef> Staff share </th>
            <td mat-cell *matCellDef="let element"> {{element.staff_share || "N/A" }} </td>
          </ng-container>

          <!-- Last login Column -->
          <ng-container matColumnDef="no_of_days">
            <th mat-header-cell *matHeaderCellDef> No. of days </th>
            <td mat-cell *matCellDef="let element"> {{element.no_of_days || 'N/A' }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;">
          </tr>
        </table>
        <app-paginator [length]=length (pageEvent)=pageChange($event)></app-paginator>
      </div>


    </div>
  </div>
  <!-- </div>
  </div> -->
</div>
