<!-- footer start-->
<div class="container-fluid">
  <!-- <div class="row">
    <div class="col-md-6 footer-copyright">
      <p class="mb-0">Copyright 2018 © Endless All rights reserved.</p>
    </div>
    <div class="col-md-6">
      <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
    </div>
  </div> -->

  <div class="d-flex justify-content-between" >
    <div class="">
      <img src="assets/images//NHGSFP.png" alt="" class="img-fluid">
    </div>
    <div class="footer-copyright">
      <p class="mb-0">© 2021 SID Digital / V2.1.</p>
    </div>
    <div class="">
      <img src="../../../../assets/svg/sid_digital_favicon.svg" alt="" class="img-fluid">
    </div>
  </div>
</div>
