<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <h5>{{title | titlecase}}</h5>
            <!-- accept=".xlsx, .xml, .xls, .csv" -->
             <div>
               <input (change)="onFileSelected($event)" #excelInput  type="file">

               <a target="_self" download="wallet-template.csv" class="btn btn-primary mr-2"
                href="../../../assets/pupil-list.xlsx">
                Download Template
              </a>

               <button (click)="excelInput.click()" class="btn btn-primary">
                 <i class="fa fa-plus mr-2"></i>
                 Select File
               </button>

             </div>
          </div>
        </div>
        <div class="card-body">
          <div class="example-loading-shade" *ngIf="isLoading">
            <div class="loader-box">
              <div class="loader">
                <div class="line bg-primary"></div>
                <div class="line bg-primary"></div>
                <div class="line bg-primary"></div>
                <div class="line bg-primary"></div>
              </div>
            </div>
            <!-- <mat-spinner *ngIf="tableLoading"></mat-spinner> -->
          </div>
          Preview

          <div *ngIf="htmlWorkbookJSON?.length > 0" @ifFadeSlideInOut class="col-12 upload-table">

            <button (click)="uploadStaffsInfo()" class="btn btn-primary">Verify NIN and Save</button>
            <p>Queue length: {{ htmlWorkbookJSON?.length }}</p>
            <form [formGroup]="form" autocomplete="off">

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Middlename</th>
                      <th>DOB</th>
                      <th>NIN</th>
                      <th>School</th>
                      <th>State</th>
                      <th>City</th>
                      <th>LGA</th>
                      <th>Ward</th>
                      <th>Class</th>
                      <th>Actions</th>
                      <th>Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr @forFadeSlideInOut
                      *ngFor="let item of htmlWorkbookJSON; let i = index">
                      <td>
                        <strong>{{ item["STUDENT FIRST NAME"] || 'N/A' }}</strong>
                      </td>
                      <td><strong>{{ item["STUDENT LAST NAME"] || 'N/A' }}</strong></td>
                      <td><strong>{{ item['STUDENT MIDDLE NAME'] || 'N/A' }}</strong></td>
                      <td><strong>{{ item['DATE OF BIRTH'] || 'N/A' }}</strong></td>
                      <td><strong>{{ item['NIN OF STUDENT'] || 'N/A' }}</strong></td>
                      <td><strong>{{ item['NAME OF SCHOOL'] || 'N/A' }}</strong></td>
                      <td><strong>{{ item['STATE'] || 'N/A' }}</strong></td>
                      <td><strong>{{ item['CITY'] || 'N/A' }}</strong></td>
                      <td><strong>{{ item['LG'] || 'N/A' }}</strong></td>
                      <td><strong>{{ item['WARD'] || 'N/A' }}</strong></td>
                      <td><strong>{{ item["STUDENT'S CLASS"] || 'N/A' }}</strong></td>
                      <td nowrap>

                        <button (click)="removeStaff(i)" type="button" class="btn btn-danger btn-xs">
                          <span class="fa fa-trash"></span> Remove
                        </button>
                      </td>
                      <td><strong>{{ item?.comment || 'No comment' }}</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
