<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">

    <div class="col-auto row">
      <ng-container *ngIf="isSid || isComp || isAcct">
        <div class="col">
          <div class="card">
            <div class="card-body ecommerce-icons text-center">
              <div><span>{{'Tot. no. of students' | uppercase}}</span></div>
              <h4 class="font-primary mb-0 counter" [CountTo]=100 [from]="0" [duration]="0.5"></h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body ecommerce-icons text-center">
              <div><span>{{'Tot. no. of Schools' | uppercase}}</span></div>
              <h4 class="font-primary mb-0 counter" [CountTo]=5 [from]="0" [duration]="0.5"></h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body ecommerce-icons text-center">
              <div><span>{{'Tot. no. of Caterers' | uppercase}}</span></div>
              <h4 class="font-primary mb-0 counter" [CountTo]=10 [from]="0" [duration]="0.5"></h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body ecommerce-icons text-center">
              <div><span>{{'Tot. no. of farmers' | uppercase}}</span></div>
              <h4 class="font-primary mb-0 counter" [CountTo]=15 [from]="0" [duration]="0.5"></h4>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="col-xl-12 xl-100 px-0 mx-0">
      <ng-container *ngIf="isComp || isSid || isAcct">
        <div class="">
          <h5>Students by LGA</h5>
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide [id]="i + 1" *ngFor="let slide of studentsByLGA; let i=index">
              <div class="item">
                <div class="card">
                  <div class="card-body ecommerce-icons text-center">
                    <div><span>{{slide.title | uppercase}}</span></div>
                    <h4 class="font-primary mb-0 counter" [CountTo]=slide.count [from]="0" [duration]="0.5"></h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </ng-container>

      <ng-container *ngIf="isComp || isSid || isAcct">
        <div class="">
          <h5>Students by School</h5>
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide [id]="i + 1" *ngFor="let slide of studentsBySchool; let i=index">
              <div class="item">
                <div class="card">
                  <div class="card-body ecommerce-icons text-center">
                    <div><span>{{slide.title | uppercase}}</span></div>
                    <h4 class="font-primary mb-0 counter" [CountTo]=slide.count [from]="0" [duration]="0.5"></h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </ng-container>

      <ng-container *ngIf="isComp || isSid || isAcct">
        <div class="">
          <h5>Caterers by LGA</h5>
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide [id]="i + 1" *ngFor="let slide of caterersByLGA; let i=index">
              <div class="item">
                <div class="card">
                  <div class="card-body ecommerce-icons text-center">
                    <div><span>{{slide.title | uppercase}}</span></div>
                    <h4 class="font-primary mb-0 counter" [CountTo]=slide.count [from]="0" [duration]="0.5"></h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </ng-container>

      <ng-container *ngIf="isComp || isSid || isAcct">
        <div class="">
          <h5>Farmers by LGA</h5>
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide [id]="i + 1" *ngFor="let slide of farmersByLGA; let i=index">
              <div class="item">
                <div class="card">
                  <div class="card-body ecommerce-icons text-center">
                    <div><span>{{slide.title | uppercase}}</span></div>
                    <h4 class="font-primary mb-0 counter" [CountTo]=slide.count [from]="0" [duration]="0.5"></h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </ng-container>

      <!-- <ng-container>
        <div class="row mx-0 px-0">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header pb-1">
                <div class="d-flex justify-content-between">
                  <h5 class="mb-0">Bar Chart</h5>
                  <div>
                    <button (click)="barChartData[0].data = dataset2"
                            class="btn btn-outline-primary mr-2">
                      Value
                    </button>
                    <button (click)="barChartData[0].data = dataset1"
                            class="btn btn-outline-primary">
                      Count
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body charts-box">
                <canvas height="100px"
                        baseChart
                        class="chart flot-chart-placeholder"
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [colors]="barChartColors"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>
      </ng-container> -->


    </div>

    <div [ngClass]="{'col-12': vendorReport?.length > 2, 'col-md-6': vendorReport?.length <=2}" class="row">
      <div *ngFor="let vendor of vendorReport" class="mr-2 col xl-50">
        <div class="card social-widget-card">
          <div class="card-body">
            <h5 class="text-primary b-b-light">{{vendor.vendor_name}}</h5>
            <div class="row">
              <div class="col text-center b-r-light"><span>Count</span>
                <h4 class="counter mb-0" [CountTo]="vendor.count" [from]="0" [duration]="1"></h4>
              </div>
              <div class="col text-center"><span>Value</span>
                <h4 class="counter mb-0" [CountTo]="vendor.total" [from]="0" [duration]="1"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Container-fluid Ends-->
