<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="d-flex justify-content-between my-2">
    <h4 class="text-primary">
      NHGSF Portal
    </h4>

    <select [(ngModel)]="selectedState" (ngModelChange)="onStateChange()" class="custom-select">
      <option value="0">All States</option>
      <option *ngFor="let state of states" [value]="state">{{state}}</option>
    </select>
  </div>
  <div class="row">
    <ng-container *ngIf="isSid || isComp || isAcct">
      <div class="col-md">
        <div class="card">
          <div class="card-body ecommerce-icons text-center">
            <div><span>{{'Tot. no. of pupils' | uppercase}}</span></div>
            <!-- <h4 *ngif="firstAt" class="font-primary mb-0 counter" [CountTo]="students" [from]="0" [duration]="0.5"></h4> -->
            <h4 class="font-primary mb-0 counter"> {{students}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <div class="card-body ecommerce-icons text-center">
            <div><span>{{'Tot. no. of Schools' | uppercase}}</span></div>
            <!-- <h4 class="font-primary mb-0 counter" [CountTo]="schools" [from]="0" [duration]="0.5"></h4> -->
            <h4 class="font-primary mb-0 counter"> {{schools}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <div class="card-body ecommerce-icons text-center">
            <div><span>{{'Tot. no. of Caterers' | uppercase}}</span></div>
            <!-- <h4 class="font-primary mb-0 counter" [CountTo]="caterers" [from]="0" [duration]="0.5"></h4> -->
            <h4 class="font-primary mb-0 counter"> {{caterers}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <div class="card-body ecommerce-icons text-center">
            <div><span>{{'Tot. no. of farmers' | uppercase}}</span></div>
            <!-- <h4 class="font-primary mb-0 counter" [CountTo]="farmers" [from]="0" [duration]="0.5"></h4> -->
            <h4 class="font-primary mb-0 counter"> {{farmers}}</h4>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

  <div class="row">
    <ng-container *ngIf="isSid || isComp || isAcct">

      <div class="col-md">
        <div class="card">
          <div class="card-body ecommerce-icons text-center">
            <div class="d-flex">
              <button mat-button [matMenuTriggerFor]="healthMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <div>
              <img class="img-fluid min-logo" src="assets/coat-of-arms-of-nigeria-logo.png" alt="">
            </div>
            <!-- <h4 class="font-primary mb-0 counter" [CountTo]="schools" [from]="0" [duration]="0.5"></h4> -->
            <h4 class="font-primary mb-0"> {{'Min. of Health'}}</h4>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card">
          <div class="card-body ecommerce-icons text-center">
            <div class="d-flex">
              <button mat-button [matMenuTriggerFor]="eduMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <div>
              <img class="img-fluid min-logo" src="assets/coat-of-arms-of-nigeria-logo.png" alt="">
            </div>
            <!-- <h4 class="font-primary mb-0 counter" [CountTo]="schools" [from]="0" [duration]="0.5"></h4> -->
            <h4 class="font-primary mb-0"> {{'Min. of Education'}}</h4>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card" >
          <div class="card-body ecommerce-icons text-center">
            <div class="d-flex">
              <button mat-button [matMenuTriggerFor]="agricMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <div>
              <img class="img-fluid min-logo" src="assets/coat-of-arms-of-nigeria-logo.png" alt="">
            </div>
            <!-- <h4 class="font-primary mb-0 counter" [CountTo]="schools" [from]="0" [duration]="0.5"></h4> -->
            <h4 class="font-primary mb-0"> {{'Min. of Agric'}}</h4>
          </div>
        </div>

        <mat-menu #healthMenu="matMenu">
          <button [routerLink]="['/user/caterer-list']" mat-menu-item mat-menu-item>Caterers</button>
        </mat-menu>

        <mat-menu #eduMenu="matMenu">
          <button [routerLink]="['/user/school-list']" mat-menu-item>Schools</button>
          <button [routerLink]="['/user/student-list']" routerLinkActive="router-link-active"  mat-menu-item>Pupils</button>
        </mat-menu>

        <mat-menu #agricMenu="matMenu">
          <button [routerLink]="['/user/farmer-list']" mat-menu-item mat-menu-item>Farmers</button>
        </mat-menu>
      </div>
    </ng-container>

  </div>
</div>
<!-- Container-fluid Ends-->
