.profile-pic {
  .edit {
    display: block;
    position: absolute;
    top: 40px;
    right: 15px;
  }
}

// .profile-pic:hover {
//   .edit {
//     display: block;
//     position: absolute;
//     top: 40px;
//     right: 15px;
//   }
// }
