<app-auth-navbar></app-auth-navbar>

<h1 class="text-center display-1 extra-padding bg-color1">Privacy Policy</h1>
<div class="container-fluid pb-5">

  <!-- Navbar -->
  <!-- <app-auth-navbar [showNav]=true></app-auth-navbar> -->

  <!-- 1. Introduction starts -->
  <section>
    <h3>Introduction</h3>
    <p class="mt-3">
      SID Digital Limited’s (SIDD, “we” or “us”) Privacy Policy gives you a clear view of how we use personal
      information that you provide, our dedication to protecting it and your rights and the options you have to control
      your personal information and protect your privacy. It also outlines what personal information we collect about
      you when you visit our website

      <strong>
        <span class="text-primary">
          <a #buccaUrl target="_blank" href="https://secureid.bucca.com.ng/" class="link">
            https://secureid.bucca.com.ng/.
          </a>
        </span>
      </strong>

      <span class="copy" (click)="onCopy(buccaUrl)">
        <mat-icon>
          content_copy
        </mat-icon>
      </span>
      when you use our mobile apps, speak to our Contact Centre, and how we use your personal information. It also sets
      out how to contact us if you have any questions about this Privacy Policy or want to make a complaint to us about
      how we handle your personal information. We may change this policy from time to time by updating this page. You
      should check this page from time to time to ensure that you are happy with any changes.

      When you use our applications or services, you trust us with your personal data. We’re committed to keeping that
      trust.

      By accessing and/or using the services or by submitting personal information to ritual, you agree that ritual may
      collect, use and disclose such personal information in accordance with this privacy policy and as permitted or
      required by law. If you have any questions about this Privacy Policy or how we handle your personal information,
      please contact us at
      <strong>
        <span class="text-primary">
          <a #supportMail target="_blank" href="mailTo:support@secureid-bucca.freshdesk.com" class="link">
            support@secureid-bucca.freshdesk.com
          </a>
        </span>
      </strong>

      <span class="copy" (click)="onCopy(supportMail)">
        <mat-icon>
          content_copy
        </mat-icon>
      </span>
    </p>
  </section>
  <!-- Introduction Ends -->


  <!-- 2. Personal Information Starts -->
  <section class="mt-5">
    <h3>Personal Information We Collect About You </h3>
    <p class="mt-3">
      We strive to provide secure, relevant and efficient services to provide a great user experience. To do so, we may
      collect your personal information as described in this policy. Personal information is defined as information that
      can or does identify you as an individual or otherwise as contained in the Nigeria Data Protection Regulation
      (NDPR) 2019 and any amendments thereto.
    </p>
    <p>
      The types of personal information we may collect include, but are not limited to:
    </p>

    <ol type="A">
      <li class="mt-2">
        <strong>Profile & Contact Data </strong>(e.g. your first name, last name, telephone number, corporate e-mail
        address, personal e-mail address, password). This information is generally collected from you or your employer;
      </li>
      <li class="mt-2">
        <strong>Employer Data </strong>(e.g. your employer name, office address, employees). This information is
        generally collected from your employer.
      </li>
      <li class="mt-2">
        <strong>Transaction Data</strong>(e.g. the history of your purchases and your order details. This includes:
        <ul class=" py-2">
          <li>what you purchased</li>

          <li>your order mode</li>

          <li>date, time of purchase</li>

          <li>amount paid for order</li>

          <li>payment method (Company or personal)</li>

          <li>in-App notes</li>
        </ul>

        <p>This information is generally collected from you. </p>
      </li>
      <li class="mt-2">
        <strong>Browsing Data </strong> (e.g. access dates and times, which features you used, duration of visit,
        crashes). This information is generally collected from you or third parties.
      </li>
      <li class="mt-2">
        <strong>Survey Data </strong> (e.g. if you choose to participate in one of our User surveys or research
        initiatives, we collect your answers and use the information and survey results to help us understand our users
        and tailor our service offerings). This information is generally collected from you.
      </li>
    </ol>
  </section>
  <!-- Personal Information ends here -->

  <!-- 3. How we collect information starts -->
  <section>
    <h3>How we collect your personal information </h3>
    <p class="mt-3">
      We collect personal information about you in the following ways:
    </p>
    <ol type="A">
      <li>
        <h5>
          Information you give us
        </h5>
        <p class="mb-0">
          We collect personal information from you when you. For example:
        </p>
        <ul>
          <li class="mt-1">Register your account, submit comments or reviews on the Website or the App.</li>

          <li class="mt-1">use our Website, App.</li>

          <li class="mt-1">contact our customer support services</li>

          <li class="mt-1">complete a survey.</li>

          <li class="mt-1">communicate through the Website or App.</li>
        </ul>
      </li>
      <li class="mt-2">
        <h5>
          Information we collect from others
        </h5>
        <p class="mb-0">
          We collect personal information from you when you. For example:
        </p>
        <ul>
          <li class="mt-1">Register your account, submit comments or reviews on the Website or the App.</li>

          <li class="mt-1">business partners such as third-party payment providers or other apps and websites that we
            may integrate with.</li>

          <li class="mt-1">marketing service providers.</li>

          <li class="mt-1">Restaurants in our online ordering system that allow us to accept pickup or delivery.</li>

          <li class="mt-1">your employer if they have signed up our product or services.</li>
        </ul>
      </li>
    </ol>
  </section>
  <!-- How we collect information ends -->


  <!-- 4. Purpose for processing your personal information starts -->
  <section>
    <h3>Purpose for processing your personal information </h3>
    <p class="mt-3">
      Below we explain the main purposes for which we use your personal information and the legal basis for processing
      your data:
    </p>

    <ol type="A">
      <li class="mt-2">
        <h5>
          Profile Data
        </h5>
        <p>
          Your Profile Data may be used to assist you when you contact Customer support, to direct your inquiry
          appropriately, and follow-up to ensure the inquiry has been satisfied.
        </p>

        <p>
          We may share your Profile Data with our restaurants for the purpose of managing the relationship with you,
          including to fulfil your order and at pick up.
        </p>

        <p>
          We may share your Profile and Transaction Data with partner apps should you choose to register and access
          Ritual through those apps. The purpose is to improve our Service and manage our relationship with you.  
        </p>

        <p>Ritual may also share with our partner restaurants analytics on App usage and customer trends. We do not
          share your contact information with our restaurants without your express consent. </p>

        <p>
          Our legal basis for processing this information includes:
        </p>

        <ul>
          <li>
            consent
          </li>
          <li>
            performance of a contract with you or your employer
          </li>
        </ul>
      </li>

      <li class="mt-2">
        <h5>Contact Data </h5>
        <p class="mt-3">
          Your Contact Data may be used to assist you when you contact user support, direct your inquiry appropriately,
          and to follow-up to ensure the inquiry has been satisfied. This may include sharing specifics about customer
          reviews and complaints with our restaurants.
        </p>

        <p>
          We may communicate with you via text message for various reasons. Standard text message and data rates may
          apply. If you wish to stop receiving text messages from us, respond to one of our text message with the word
          ‘STOP’.
        </p>

        <p>
          Our legal basis for processing this information includes:
        </p>

        <ul>
          <li>
            consent
          </li>
          <li>
            performance of a contract with you
          </li>
        </ul>

        <p>
          Restaurants have access to your order history to improve services delivered to you.
        </p>

        <p>
          Our legal basis for processing this information includes:
        </p>
        <ul>
          <li>
            consent
          </li>
          <li>
            performance of a contract with you
          </li>
        </ul>
      </li>

      <li class="mt-2">
        <h5>Browsing Data </h5>
        <p>Browsing Data may be used to: </p>
        <ul>
          <li>troubleshoot software bugs and address operational problems;</li>

          <li>personalize our services and communications. Personalization features may include showing you
            recommendations
            while content features include allowing you to share reviews, ratings, tags, and discussions;</li>

          <li>for testing, research, analysis, and development of our Services.</li>
        </ul>
        <p class="mt-3">
          We may also share this information with third parties for industry analysis and statistics such as Google
          Analytics.
        </p>
        <p>
          Our legal basis for processing this information includes:
        </p>

        <ul>
          <li>
            our interest to improve our services, troubleshoot software bugs and operational problems, deliver relevant
            content to you.
          </li>
        </ul>
      </li>

      <li class="mt-2">
        <h5>
          Survey Data
        </h5>
        <p>
          We may offer you the opportunity to participate in one of our user surveys or research. Participation in user
          surveys or research is completely optional. If you choose to participate, we use the information and survey
          results to help us understand our users and to tailor and enhance our service offerings and promotions.
        </p>

        <p>
          Our legal basis for processing this information includes:
        </p>

        <ul>
          <li>
            consent
          </li>
        </ul>
      </li>
    </ol>
  </section>
  <!-- Purpose for processing your personal information Ends -->

  <!-- 5. Children's data starts -->
  <section>
    <h3>Children's data </h3>
    <p class="mt-3">
      Our Services are not intended for, directed at or marketed to persons below the age of 18. We do not knowingly
      collect personal information from anyone under the age of 18.
    </p>
  </section>
  <!-- Children's data Ends -->

  <!-- 6. Change of purpose starts -->
  <section>
    <h3>Change of purpose </h3>
    <p class="mt-3">
      We will only use your personal data for the purposes for which we collected it, unless we reasonably consider that
      we need to use it for another reason and that reason is compatible with the original purpose. If you wish to get
      an explanation as to how the processing for the new purpose is compatible with the original purpose, please
      contact us.
    </p>

    <p class="mt-3">
      If we need to use your personal data for an unrelated purpose, we will notify you and we will explain the legal
      basis which allows us to do so.
    </p>
  </section>
  <!-- Change of purpose Ends -->

  <!-- 7. International transfers starts -->
  <section>
    <h3>International transfers </h3>
    <p class="mt-3">
      Data will be processed within Nigeria. Should this change in the future and we will need to transfer your personal
      data out of Nigeria, we ensure a similar degree of protection is afforded to it by ensuring the safeguards as
      mandated by the NDPR are in place.
    </p>
  </section>
  <!-- 7. International transfers Ends -->

  <!-- 8. If you fail to provide personal data? starts -->
  <section>
    <h3>If you fail to provide personal data? </h3>
    <p class="mt-3">
      Where we need to collect personal data by law, or under the terms of a contract we have with you or your employer,
      and you fail to provide that data when requested, we may not be able to perform the contract we have or are trying
      to enter into with you or your employer (for example, to provide you with our products or services). In this case,
      we may have to cancel the product or service you or your employer may have with us but we will notify the
      appropriate party if this is the case at the time.
    </p>
  </section>
  <!-- 8. If you fail to provide personal data? Ends -->

  <!-- 9. Legal rights starts -->
  <section>
    <h3>Legal rights </h3>
    <p class="mt-3">
      Subject to certain limitations and under certain circumstances, you may have the following legal rights to your
      personal information:
    </p>

    <ul>
      <li class="mt-1">Request access to your personal data.</li>

      <li class="mt-1">Request correction of your personal data.</li>

      <li class="mt-1">Request erasure of your personal data.</li>

      <li class="mt-1">Object to processing of your personal data.</li>

      <li class="mt-1">Request restriction of processing your personal data.</li>

      <li class="mt-1">Request transfer of your personal data.</li>

      <li class="mt-1">Right to withdraw consent.</li>
    </ul>

    <p class="mt-3">
      It is important that you know that if you request erasure, object to our processing of your personal data or
      request the restriction of our processing of your personal data we may not be able to provide our services. You
      also have the right to withdraw your consent for a specific processing at any time. Once we have received
      notification that you have withdrawn your consent, we will no longer process your information for the purpose or
      purposes you originally agreed to, unless we have another legal basis for doing.
    </p>

    <p class="mt-3">
      If you wish to exercise any of the rights set out above, please contact. <strong>
        <span class="text-primary">
          <a #supportMail target="_blank" href="mailTo:support@secureid-bucca.freshdesk.com" class="link">
            support@secureid-bucca.freshdesk.com
          </a>
        </span>
      </strong>

      <span class="copy" (click)="onCopy(supportMail)">
        <mat-icon>
          content_copy
        </mat-icon>
      </span>
    </p>
  </section>
  <!-- Legal rights Ends -->

  <!-- 10. Data retention period  starts -->
  <section>
    <h3>Data retention period </h3>
    <p class="mt-3">
      We will retain your personal information until you or your employer cancels your account with us in order to meet
      our contractual obligations, to otherwise meet legal requirements or until it is no longer required for the
      purposes stated above.
    </p>

    <p class="mt-3">
      Otherwise, we will de-identify your data, unless this data is necessary to comply with a legal obligation or
      resolve disputes. Alternatively, we will securely erase your information where we no longer require your
      information for the purposes collected.
    </p>
  </section>
  <!-- Data retention period  Ends -->

  <!-- 11. Safeguarding your personal information starts -->
  <section>
    <h3>Safeguarding your personal information </h3>
    <p class="mt-3">
      We take appropriate technical, physical and organizational security measures to protect personal information in
      our custody and control against unauthorized access, use, modification and disclosure, and accidental loss,
      destruction and damage.
    </p>

    <p class="mt-3">
      No security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that
      the information you or your employer supply will not be intercepted while being transmitted to us over the
      Internet. Any transmission of information by you or your employer respectively to us is at your own risk. Where
      you have chosen a password that allows you to access our Website or App, you are responsible for keeping this
      password confidential. We strongly recommend that you do not share your password with anyone.
    </p>
  </section>
  <!-- Safeguarding your personal information Ends -->

  <!-- 12. Third-party links starts -->
  <section>
    <h3>Third-party links </h3>
    <p class="mt-3">
      Our Website or App may contain links to other sites that we do not own or operate. Except as provided in this
      Privacy Policy, we will not give any of your personal information to these third parties without your consent. We
      provide links to third-party websites as a convenience. These links are not intended as an endorsement of or
      referral to the linked websites.
    </p>

    <p class="mt-3">
      The linked websites have separate and independent privacy statements, notices and terms of use, which we recommend
      you read carefully. We do not have any control over such websites, and therefore we have no responsibility or
      liability for the manner in which the organizations that operate such linked websites may collect, use or
      disclose, secure and otherwise treat your personal information.
    </p>
  </section>
  <!-- Third-party links Ends -->

  <!-- 13. Updates to our privacy policy and your duty to inform us of changes  starts -->
  <section>
    <h3>Updates to our privacy policy and your duty to inform us of changes </h3>
    <p class="mt-3">
      It is important that the personal data we hold about you is accurate and current. Please keep us informed if your
      personal data changes during your relationship with us.
    </p>
    <p class="mt-3">
      We may update this Privacy Policy to reflect changes to our information practices. If we make any material changes
      to this policy, we may notify you by email and/or by means of a notice on the Website or App or via your employer.
      We encourage you to periodically review this page for the latest information on our privacy practices.
    </p>

    <p class="mt-3">
      We have appointed a Data Protection Officer (DPO) who is responsible for overseeing questions in relation to this
      privacy policy. If you have any questions about this privacy notice, including any requests to exercise your legal
      rights, please contact the DPO using the details set out below:
    </p>
  </section>
  <!-- Updates to our privacy policy and your duty to inform us of changes  Ends -->

</div>
